@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  padding: 0%;
  margin: 0%;
}

/* CSS implementation in H1  */
header > h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header > h1::before,
header > h1::after {
  content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpdDCbJsaLkCmln0knobVOh4Z84ELcHodBxOyozWb0bw&s");
}

/* CSS implementation in Navbar  */
nav {
  background: #ffc222;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0px 2px 3px #ffffff;
}
nav > ul {
  /* font-style: italic; */
  color: #515356;
  font-size: 130%;
  list-style-type: none;
  text-align: center;
}
nav > ul > li {
  display: inline;
  margin-right: 5%;
  margin-left: 5%;
}
nav > ul > li > a {
  text-decoration: none;
  color: #515356;
}
nav > ul > li:hover {
  color: black;
  /* font-style: italic; */
  text-shadow: 1px 0px 1px black;
}

/* CSS for Marquee  (Donation line) */
.donation_marquee {
  background: #000;
  color: #ffc222;
}
.donation_marquee > button {
  color: black;
  background-color: #ffc222;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}
.donation_marquee > button:hover {
  background: #eab12f;
  box-shadow: 1px 1px 22px #eab12f;
}

/* Slideshow css started from here  */
.main-container {
  box-sizing: border-box;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
/* slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  transition: opacity 0.4s ease-in-out;
}
