@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 110%;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  background: radial-gradient(ellipse at bottom, #eeeb29 0%, #fdff84cb 100%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
    font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
@media screen and (max-width: 600px){
  .title{
    font-size: 2rem;
    width: 45%;
  }
  .sub-title{
   display: none;
  }
}
.sub-title {
  border-top: 1rem solid rgb(0, 0, 0);
  padding: 1rem 13rem;
  text-align: center;
}

/* CSS hack using multiple box-shadows to get them **Stars** */

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1983px 1070px #000, 1625px 734px #000, 1505px 1218px #000,
    1288px 1382px #000, 1023px 982px #000, 184px 1501px #000, 1352px 1072px #000,
    966px 577px #000, 1928px 1505px #000, 284px 1863px #000, 871px 390px #000,
    1591px 1017px #000, 1919px 1315px #000, 1552px 697px #000,
    1775px 1722px #000, 61px 321px #000, 1108px 1281px #000, 1795px 22px #000,
    1808px 716px #000, 797px 374px #000, 796px 1149px #000, 952px 1px #000,
    1361px 1185px #000, 1110px 1577px #000, 1058px 1925px #000,
    160px 1987px #000, 1274px 1205px #000, 39px 85px #000, 1835px 484px #000,
    495px 1670px #000, 986px 691px #000, 2px 1486px #000, 719px 805px #000,
    1601px 89px #000, 591px 565px #000, 1317px 1604px #000, 1805px 1486px #000,
    703px 236px #000, 1950px 1089px #000, 1527px 1923px #000, 1690px 36px #000,
    1252px 245px #000, 343px 903px #000, 143px 874px #000, 939px 1705px #000,
    1733px 372px #000, 362px 830px #000, 1580px 1181px #000, 251px 535px #000,
    1666px 1111px #000, 1276px 1530px #000, 958px 1989px #000, 75px 987px #000,
    256px 217px #000, 635px 1194px #000, 1004px 1546px #000, 1910px 878px #000,
    520px 506px #000, 1000px 210px #000, 1455px 1027px #000, 417px 1714px #000,
    1376px 674px #000, 1744px 1390px #000, 195px 283px #000, 621px 1638px #000,
    962px 997px #000, 283px 1219px #000, 1591px 1953px #000, 160px 652px #000,
    1430px 948px #000, 1589px 1722px #000, 614px 1305px #000, 167px 342px #000,
    1172px 1861px #000, 1097px 1249px #000, 1094px 1743px #000,
    1988px 1361px #000, 461px 694px #000, 1096px 584px #000, 1876px 1984px #000,
    315px 245px #000, 441px 258px #000, 1219px 1887px #000, 480px 245px #000,
    285px 819px #000, 1753px 1833px #000, 816px 1780px #000, 245px 1927px #000,
    715px 1523px #000, 475px 1595px #000, 1162px 66px #000, 543px 1758px #000,
    112px 1847px #000, 1604px 1243px #000, 1888px 1758px #000, 162px 1385px #000,
    1587px 1863px #000, 1059px 48px #000, 1161px 1650px #000, 1881px 289px #000,
    475px 363px #000, 160px 911px #000, 487px 291px #000, 496px 70px #000,
    1107px 90px #000, 731px 1771px #000, 1517px 918px #000, 1013px 716px #000,
    1832px 882px #000, 107px 393px #000, 1503px 1860px #000, 31px 94px #000,
    1640px 1112px #000, 697px 1657px #000, 435px 81px #000, 1526px 1467px #000,
    602px 1001px #000, 1409px 306px #000, 1631px 1005px #000, 302px 1886px #000,
    1262px 522px #000, 1606px 776px #000, 1813px 1471px #000, 1784px 1953px #000,
    499px 1841px #000, 805px 1191px #000, 786px 864px #000, 940px 1562px #000,
    1016px 1362px #000, 1036px 961px #000, 1666px 173px #000, 1214px 979px #000,
    54px 1293px #000, 231px 710px #000, 434px 1321px #000, 259px 1716px #000,
    1463px 380px #000, 1406px 1130px #000, 913px 611px #000, 1489px 1218px #000,
    1777px 61px #000, 967px 63px #000, 1598px 1504px #000, 1528px 1134px #000,
    1641px 111px #000, 1980px 1181px #000, 945px 1698px #000, 430px 1617px #000,
    482px 85px #000, 554px 1473px #000, 1112px 614px #000, 1030px 1349px #000,
    1666px 1753px #000, 1049px 978px #000, 1817px 1144px #000, 759px 1687px #000,
    1371px 1720px #000, 1393px 461px #000, 26px 983px #000, 85px 1821px #000,
    1193px 321px #000, 240px 64px #000, 220px 973px #000, 607px 312px #000,
    1102px 679px #000, 1314px 329px #000, 1802px 1079px #000, 1997px 85px #000,
    782px 479px #000, 1647px 52px #000, 1945px 514px #000, 938px 351px #000,
    1140px 1813px #000, 1348px 1582px #000, 1188px 1188px #000,
    1494px 1341px #000, 1552px 834px #000, 1592px 1952px #000, 450px 98px #000,
    581px 1213px #000, 1736px 1193px #000, 944px 1950px #000, 526px 1044px #000,
    1869px 788px #000, 911px 1295px #000, 1521px 1135px #000, 1725px 1438px #000,
    1691px 110px #000, 1903px 1777px #000, 643px 1826px #000, 222px 1810px #000,
    1613px 1035px #000, 201px 24px #000, 1325px 557px #000, 1169px 1652px #000,
    385px 290px #000, 1733px 168px #000, 1886px 438px #000, 1533px 315px #000,
    388px 960px #000, 312px 1818px #000, 1605px 6px #000, 231px 1794px #000,
    686px 1810px #000, 1301px 577px #000, 1583px 474px #000, 1916px 756px #000,
    694px 1494px #000, 1877px 1341px #000, 25px 6px #000, 1717px 316px #000,
    1906px 1307px #000, 1555px 316px #000, 699px 690px #000, 1335px 368px #000,
    1871px 668px #000, 301px 492px #000, 1899px 747px #000, 680px 444px #000,
    654px 1063px #000, 45px 1797px #000, 826px 281px #000, 1041px 1859px #000,
    1690px 7px #000, 797px 1473px #000, 1697px 1680px #000, 1704px 572px #000,
    144px 49px #000, 1099px 264px #000, 789px 1804px #000, 186px 741px #000,
    306px 1496px #000, 473px 209px #000, 1763px 127px #000, 116px 288px #000,
    450px 385px #000, 210px 457px #000, 1433px 1540px #000, 1766px 1459px #000,
    1426px 215px #000, 1313px 296px #000, 410px 81px #000, 1809px 593px #000,
    515px 216px #000, 1903px 1912px #000, 564px 1545px #000, 99px 302px #000,
    164px 1465px #000, 1560px 801px #000, 1839px 663px #000, 191px 1903px #000,
    5px 537px #000, 1150px 38px #000, 1310px 647px #000, 1257px 555px #000,
    487px 1470px #000, 1769px 1121px #000, 1698px 1155px #000,
    1176px 1916px #000, 1192px 583px #000, 1778px 1511px #000, 1330px 354px #000,
    705px 737px #000, 449px 665px #000, 89px 1486px #000, 751px 1974px #000,
    1733px 1742px #000, 1289px 1386px #000, 1621px 1363px #000,
    571px 1861px #000, 1697px 1850px #000, 504px 624px #000, 889px 238px #000,
    1627px 1435px #000, 1379px 1367px #000, 872px 550px #000, 472px 532px #000,
    466px 1997px #000, 932px 1896px #000, 1044px 83px #000, 1262px 1593px #000,
    1953px 1478px #000, 1127px 1716px #000, 325px 176px #000, 1742px 1505px #000,
    1088px 288px #000, 1212px 472px #000, 1365px 985px #000, 1086px 803px #000,
    256px 263px #000, 1300px 1444px #000, 1673px 201px #000, 188px 1133px #000,
    404px 483px #000, 59px 1006px #000, 1013px 1651px #000, 947px 239px #000,
    18px 178px #000, 1430px 1851px #000, 763px 1777px #000, 1737px 196px #000,
    643px 977px #000, 1335px 1275px #000, 1513px 1200px #000, 497px 659px #000,
    1929px 800px #000, 1481px 283px #000, 1232px 331px #000, 1518px 1754px #000,
    515px 869px #000, 1127px 1290px #000, 726px 1453px #000, 864px 267px #000,
    313px 1634px #000, 1562px 606px #000, 91px 1803px #000, 40px 1789px #000,
    1097px 944px #000, 1949px 1949px #000, 17px 1495px #000, 1786px 93px #000,
    577px 1866px #000, 1252px 546px #000, 564px 151px #000, 1096px 1675px #000,
    1743px 1694px #000, 1332px 311px #000, 1935px 1625px #000, 1251px 900px #000,
    840px 1126px #000, 763px 669px #000, 1414px 1146px #000, 32px 1287px #000,
    950px 739px #000, 1730px 856px #000, 1032px 1754px #000, 155px 201px #000,
    1999px 1250px #000, 1811px 1488px #000, 805px 281px #000, 875px 1358px #000,
    1757px 86px #000, 1824px 605px #000, 429px 453px #000, 1955px 1159px #000,
    19px 1874px #000, 1549px 109px #000, 1684px 145px #000, 1973px 685px #000,
    338px 839px #000, 659px 46px #000, 1600px 344px #000, 838px 994px #000,
    337px 1918px #000, 583px 740px #000, 687px 251px #000, 1900px 1031px #000,
    1296px 449px #000, 1268px 592px #000, 383px 1226px #000, 868px 101px #000,
    891px 67px #000, 1957px 940px #000, 74px 1445px #000, 1432px 898px #000,
    430px 1783px #000, 954px 185px #000, 359px 1455px #000, 635px 1786px #000,
    1186px 1259px #000, 1445px 1505px #000, 1177px 781px #000, 1407px 603px #000,
    1257px 980px #000, 96px 562px #000, 1999px 1560px #000, 1153px 1554px #000,
    1033px 672px #000, 1051px 546px #000, 753px 876px #000, 1763px 145px #000,
    1704px 1207px #000, 34px 1261px #000, 817px 1041px #000, 247px 1674px #000,
    121px 429px #000, 515px 570px #000, 1762px 1489px #000, 234px 940px #000,
    1095px 1028px #000, 720px 1119px #000, 1238px 334px #000, 91px 113px #000,
    147px 897px #000, 1029px 1805px #000, 1680px 1957px #000, 475px 1503px #000,
    1557px 917px #000, 1458px 1762px #000, 612px 1707px #000, 1329px 393px #000,
    160px 1167px #000, 1631px 1887px #000, 1125px 141px #000, 257px 376px #000,
    809px 26px #000, 1349px 199px #000, 1805px 88px #000, 69px 1953px #000,
    1206px 529px #000, 646px 227px #000, 1097px 1664px #000, 42px 1261px #000,
    1604px 360px #000, 1939px 187px #000, 1220px 1264px #000, 1044px 995px #000,
    1005px 16px #000, 1648px 1612px #000, 847px 1014px #000, 339px 1584px #000,
    1329px 1304px #000, 961px 1970px #000, 711px 221px #000, 888px 566px #000,
    53px 704px #000, 1369px 846px #000, 1261px 1775px #000, 737px 1277px #000,
    1071px 1570px #000, 77px 1872px #000, 1268px 1501px #000, 598px 1640px #000,
    1769px 297px #000, 1074px 656px #000, 1006px 1154px #000, 672px 1969px #000,
    922px 243px #000, 622px 773px #000, 1875px 804px #000, 1873px 600px #000,
    1844px 1794px #000, 1253px 1995px #000, 616px 1198px #000,
    1829px 1743px #000, 1321px 504px #000, 1340px 566px #000, 1520px 1825px #000,
    1696px 1333px #000, 537px 158px #000, 1106px 162px #000, 25px 514px #000,
    1022px 422px #000, 1955px 391px #000, 1126px 1741px #000, 754px 905px #000,
    1217px 1696px #000, 351px 270px #000, 950px 1260px #000, 1847px 658px #000,
    23px 684px #000, 1295px 572px #000, 257px 1053px #000, 87px 303px #000,
    798px 1748px #000, 1150px 142px #000, 48px 1641px #000, 1492px 1328px #000,
    1385px 1766px #000, 296px 1726px #000, 1299px 1780px #000, 1316px 522px #000,
    1953px 1526px #000, 1007px 1089px #000, 1824px 1598px #000,
    1720px 480px #000, 555px 1942px #000, 367px 432px #000, 957px 1162px #000,
    384px 1044px #000, 738px 618px #000, 1568px 1432px #000, 211px 788px #000,
    198px 1761px #000, 745px 177px #000, 1700px 159px #000, 316px 498px #000,
    65px 1610px #000, 1948px 1638px #000, 936px 1461px #000, 1656px 622px #000,
    575px 1437px #000, 336px 1424px #000, 1215px 690px #000, 1641px 1542px #000,
    998px 1685px #000, 952px 1274px #000, 1448px 1165px #000, 904px 1783px #000,
    1788px 1404px #000, 1748px 1717px #000, 793px 922px #000, 1032px 355px #000,
    1158px 38px #000, 1573px 1855px #000, 751px 1199px #000, 1284px 227px #000,
    391px 416px #000, 55px 204px #000, 962px 1918px #000, 668px 1347px #000,
    613px 1215px #000, 615px 732px #000, 1442px 1752px #000, 1086px 1779px #000,
    532px 320px #000, 1228px 1321px #000, 1796px 1906px #000, 150px 715px #000,
    1694px 1005px #000, 1509px 391px #000, 262px 303px #000, 1743px 909px #000,
    1966px 1203px #000, 707px 1033px #000, 82px 1332px #000, 104px 794px #000,
    246px 759px #000, 507px 1380px #000, 1227px 616px #000, 917px 1354px #000,
    1941px 759px #000, 451px 852px #000, 17px 131px #000, 780px 476px #000,
    816px 211px #000, 1039px 1245px #000, 1521px 1036px #000, 1509px 1542px #000,
    1368px 960px #000, 1104px 1437px #000, 1171px 976px #000, 681px 1305px #000,
    1741px 579px #000, 953px 704px #000, 1810px 328px #000, 1960px 1396px #000,
    1098px 295px #000, 1409px 919px #000, 1830px 1176px #000, 492px 1063px #000,
    1277px 515px #000, 602px 1546px #000, 1832px 236px #000, 1513px 274px #000,
    1983px 794px #000, 2000px 1505px #000, 920px 382px #000, 1374px 1235px #000,
    692px 310px #000, 1028px 1782px #000, 1007px 887px #000, 1492px 858px #000,
    877px 1817px #000, 1024px 1942px #000, 658px 82px #000, 526px 742px #000,
    755px 880px #000, 301px 1186px #000, 318px 31px #000, 1517px 1244px #000,
    1996px 1126px #000, 464px 1861px #000, 334px 674px #000, 768px 1103px #000,
    628px 890px #000, 1054px 1534px #000, 59px 1576px #000, 189px 693px #000,
    16px 1097px #000, 563px 1186px #000, 428px 523px #000, 1047px 1231px #000,
    1940px 1262px #000, 643px 971px #000, 611px 1794px #000, 1676px 21px #000,
    1882px 1523px #000, 258px 1584px #000, 768px 295px #000, 1253px 1431px #000,
    1855px 362px #000, 576px 987px #000, 1904px 470px #000, 895px 1390px #000,
    771px 966px #000, 1034px 1815px #000, 203px 1292px #000, 566px 893px #000,
    63px 913px #000, 1340px 1416px #000, 528px 967px #000, 1965px 444px #000,
    1961px 132px #000, 1049px 577px #000, 459px 1031px #000, 261px 1780px #000,
    1092px 1480px #000, 286px 759px #000, 1014px 1604px #000, 144px 1461px #000,
    1180px 1694px #000, 1348px 613px #000, 518px 1479px #000, 478px 649px #000,
    1303px 629px #000, 1713px 258px #000, 1912px 501px #000, 300px 227px #000,
    989px 1068px #000, 197px 158px #000, 244px 420px #000, 889px 486px #000,
    1517px 1812px #000, 965px 308px #000, 409px 1293px #000, 47px 1400px #000,
    1473px 1150px #000, 311px 1711px #000, 1938px 1000px #000, 717px 1331px #000,
    282px 881px #000, 1305px 382px #000, 1639px 52px #000, 1466px 1228px #000,
    574px 26px #000, 1310px 899px #000, 15px 1795px #000, 1138px 941px #000,
    1235px 1416px #000, 27px 375px #000, 1333px 1470px #000, 1462px 1837px #000,
    1830px 1217px #000, 1521px 1848px #000, 730px 515px #000, 514px 1869px #000,
    468px 1906px #000, 1931px 259px #000, 1612px 151px #000, 1495px 735px #000,
    710px 1096px #000, 1976px 546px #000, 50px 741px #000, 1313px 381px #000,
    54px 102px #000, 1873px 1009px #000, 1696px 688px #000, 626px 922px #000,
    244px 1438px #000, 1746px 1787px #000, 1824px 1437px #000,
    1730px 1219px #000, 785px 198px #000, 1174px 931px #000, 909px 517px #000,
    1283px 662px #000, 1074px 194px #000, 847px 1945px #000, 113px 427px #000,
    728px 352px #000, 1205px 1316px #000, 786px 668px #000, 64px 427px #000,
    548px 1370px #000, 1102px 616px #000, 676px 1192px #000, 1652px 1264px #000,
    649px 69px #000, 1593px 645px #000, 1651px 816px #000, 1914px 977px #000,
    80px 1006px #000, 1252px 742px #000, 1291px 981px #000, 1325px 273px #000,
    831px 1581px #000, 344px 1503px #000, 1885px 1849px #000, 745px 1030px #000,
    764px 1396px #000, 1241px 829px #000, 1281px 160px #000, 1210px 1860px #000,
    1998px 411px #000, 1752px 1816px #000, 21px 1656px #000, 1863px 1988px #000,
    1860px 331px #000, 79px 512px #000;
  animation: animStar 50s linear infinite;
}

.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1983px 1070px #000, 1625px 734px #000, 1505px 1218px #000,
    1288px 1382px #000, 1023px 982px #000, 184px 1501px #000, 1352px 1072px #000,
    966px 577px #000, 1928px 1505px #000, 284px 1863px #000, 871px 390px #000,
    1591px 1017px #000, 1919px 1315px #000, 1552px 697px #000,
    1775px 1722px #000, 61px 321px #000, 1108px 1281px #000, 1795px 22px #000,
    1808px 716px #000, 797px 374px #000, 796px 1149px #000, 952px 1px #000,
    1361px 1185px #000, 1110px 1577px #000, 1058px 1925px #000,
    160px 1987px #000, 1274px 1205px #000, 39px 85px #000, 1835px 484px #000,
    495px 1670px #000, 986px 691px #000, 2px 1486px #000, 719px 805px #000,
    1601px 89px #000, 591px 565px #000, 1317px 1604px #000, 1805px 1486px #000,
    703px 236px #000, 1950px 1089px #000, 1527px 1923px #000, 1690px 36px #000,
    1252px 245px #000, 343px 903px #000, 143px 874px #000, 939px 1705px #000,
    1733px 372px #000, 362px 830px #000, 1580px 1181px #000, 251px 535px #000,
    1666px 1111px #000, 1276px 1530px #000, 958px 1989px #000, 75px 987px #000,
    256px 217px #000, 635px 1194px #000, 1004px 1546px #000, 1910px 878px #000,
    520px 506px #000, 1000px 210px #000, 1455px 1027px #000, 417px 1714px #000,
    1376px 674px #000, 1744px 1390px #000, 195px 283px #000, 621px 1638px #000,
    962px 997px #000, 283px 1219px #000, 1591px 1953px #000, 160px 652px #000,
    1430px 948px #000, 1589px 1722px #000, 614px 1305px #000, 167px 342px #000,
    1172px 1861px #000, 1097px 1249px #000, 1094px 1743px #000,
    1988px 1361px #000, 461px 694px #000, 1096px 584px #000, 1876px 1984px #000,
    315px 245px #000, 441px 258px #000, 1219px 1887px #000, 480px 245px #000,
    285px 819px #000, 1753px 1833px #000, 816px 1780px #000, 245px 1927px #000,
    715px 1523px #000, 475px 1595px #000, 1162px 66px #000, 543px 1758px #000,
    112px 1847px #000, 1604px 1243px #000, 1888px 1758px #000, 162px 1385px #000,
    1587px 1863px #000, 1059px 48px #000, 1161px 1650px #000, 1881px 289px #000,
    475px 363px #000, 160px 911px #000, 487px 291px #000, 496px 70px #000,
    1107px 90px #000, 731px 1771px #000, 1517px 918px #000, 1013px 716px #000,
    1832px 882px #000, 107px 393px #000, 1503px 1860px #000, 31px 94px #000,
    1640px 1112px #000, 697px 1657px #000, 435px 81px #000, 1526px 1467px #000,
    602px 1001px #000, 1409px 306px #000, 1631px 1005px #000, 302px 1886px #000,
    1262px 522px #000, 1606px 776px #000, 1813px 1471px #000, 1784px 1953px #000,
    499px 1841px #000, 805px 1191px #000, 786px 864px #000, 940px 1562px #000,
    1016px 1362px #000, 1036px 961px #000, 1666px 173px #000, 1214px 979px #000,
    54px 1293px #000, 231px 710px #000, 434px 1321px #000, 259px 1716px #000,
    1463px 380px #000, 1406px 1130px #000, 913px 611px #000, 1489px 1218px #000,
    1777px 61px #000, 967px 63px #000, 1598px 1504px #000, 1528px 1134px #000,
    1641px 111px #000, 1980px 1181px #000, 945px 1698px #000, 430px 1617px #000,
    482px 85px #000, 554px 1473px #000, 1112px 614px #000, 1030px 1349px #000,
    1666px 1753px #000, 1049px 978px #000, 1817px 1144px #000, 759px 1687px #000,
    1371px 1720px #000, 1393px 461px #000, 26px 983px #000, 85px 1821px #000,
    1193px 321px #000, 240px 64px #000, 220px 973px #000, 607px 312px #000,
    1102px 679px #000, 1314px 329px #000, 1802px 1079px #000, 1997px 85px #000,
    782px 479px #000, 1647px 52px #000, 1945px 514px #000, 938px 351px #000,
    1140px 1813px #000, 1348px 1582px #000, 1188px 1188px #000,
    1494px 1341px #000, 1552px 834px #000, 1592px 1952px #000, 450px 98px #000,
    581px 1213px #000, 1736px 1193px #000, 944px 1950px #000, 526px 1044px #000,
    1869px 788px #000, 911px 1295px #000, 1521px 1135px #000, 1725px 1438px #000,
    1691px 110px #000, 1903px 1777px #000, 643px 1826px #000, 222px 1810px #000,
    1613px 1035px #000, 201px 24px #000, 1325px 557px #000, 1169px 1652px #000,
    385px 290px #000, 1733px 168px #000, 1886px 438px #000, 1533px 315px #000,
    388px 960px #000, 312px 1818px #000, 1605px 6px #000, 231px 1794px #000,
    686px 1810px #000, 1301px 577px #000, 1583px 474px #000, 1916px 756px #000,
    694px 1494px #000, 1877px 1341px #000, 25px 6px #000, 1717px 316px #000,
    1906px 1307px #000, 1555px 316px #000, 699px 690px #000, 1335px 368px #000,
    1871px 668px #000, 301px 492px #000, 1899px 747px #000, 680px 444px #000,
    654px 1063px #000, 45px 1797px #000, 826px 281px #000, 1041px 1859px #000,
    1690px 7px #000, 797px 1473px #000, 1697px 1680px #000, 1704px 572px #000,
    144px 49px #000, 1099px 264px #000, 789px 1804px #000, 186px 741px #000,
    306px 1496px #000, 473px 209px #000, 1763px 127px #000, 116px 288px #000,
    450px 385px #000, 210px 457px #000, 1433px 1540px #000, 1766px 1459px #000,
    1426px 215px #000, 1313px 296px #000, 410px 81px #000, 1809px 593px #000,
    515px 216px #000, 1903px 1912px #000, 564px 1545px #000, 99px 302px #000,
    164px 1465px #000, 1560px 801px #000, 1839px 663px #000, 191px 1903px #000,
    5px 537px #000, 1150px 38px #000, 1310px 647px #000, 1257px 555px #000,
    487px 1470px #000, 1769px 1121px #000, 1698px 1155px #000,
    1176px 1916px #000, 1192px 583px #000, 1778px 1511px #000, 1330px 354px #000,
    705px 737px #000, 449px 665px #000, 89px 1486px #000, 751px 1974px #000,
    1733px 1742px #000, 1289px 1386px #000, 1621px 1363px #000,
    571px 1861px #000, 1697px 1850px #000, 504px 624px #000, 889px 238px #000,
    1627px 1435px #000, 1379px 1367px #000, 872px 550px #000, 472px 532px #000,
    466px 1997px #000, 932px 1896px #000, 1044px 83px #000, 1262px 1593px #000,
    1953px 1478px #000, 1127px 1716px #000, 325px 176px #000, 1742px 1505px #000,
    1088px 288px #000, 1212px 472px #000, 1365px 985px #000, 1086px 803px #000,
    256px 263px #000, 1300px 1444px #000, 1673px 201px #000, 188px 1133px #000,
    404px 483px #000, 59px 1006px #000, 1013px 1651px #000, 947px 239px #000,
    18px 178px #000, 1430px 1851px #000, 763px 1777px #000, 1737px 196px #000,
    643px 977px #000, 1335px 1275px #000, 1513px 1200px #000, 497px 659px #000,
    1929px 800px #000, 1481px 283px #000, 1232px 331px #000, 1518px 1754px #000,
    515px 869px #000, 1127px 1290px #000, 726px 1453px #000, 864px 267px #000,
    313px 1634px #000, 1562px 606px #000, 91px 1803px #000, 40px 1789px #000,
    1097px 944px #000, 1949px 1949px #000, 17px 1495px #000, 1786px 93px #000,
    577px 1866px #000, 1252px 546px #000, 564px 151px #000, 1096px 1675px #000,
    1743px 1694px #000, 1332px 311px #000, 1935px 1625px #000, 1251px 900px #000,
    840px 1126px #000, 763px 669px #000, 1414px 1146px #000, 32px 1287px #000,
    950px 739px #000, 1730px 856px #000, 1032px 1754px #000, 155px 201px #000,
    1999px 1250px #000, 1811px 1488px #000, 805px 281px #000, 875px 1358px #000,
    1757px 86px #000, 1824px 605px #000, 429px 453px #000, 1955px 1159px #000,
    19px 1874px #000, 1549px 109px #000, 1684px 145px #000, 1973px 685px #000,
    338px 839px #000, 659px 46px #000, 1600px 344px #000, 838px 994px #000,
    337px 1918px #000, 583px 740px #000, 687px 251px #000, 1900px 1031px #000,
    1296px 449px #000, 1268px 592px #000, 383px 1226px #000, 868px 101px #000,
    891px 67px #000, 1957px 940px #000, 74px 1445px #000, 1432px 898px #000,
    430px 1783px #000, 954px 185px #000, 359px 1455px #000, 635px 1786px #000,
    1186px 1259px #000, 1445px 1505px #000, 1177px 781px #000, 1407px 603px #000,
    1257px 980px #000, 96px 562px #000, 1999px 1560px #000, 1153px 1554px #000,
    1033px 672px #000, 1051px 546px #000, 753px 876px #000, 1763px 145px #000,
    1704px 1207px #000, 34px 1261px #000, 817px 1041px #000, 247px 1674px #000,
    121px 429px #000, 515px 570px #000, 1762px 1489px #000, 234px 940px #000,
    1095px 1028px #000, 720px 1119px #000, 1238px 334px #000, 91px 113px #000,
    147px 897px #000, 1029px 1805px #000, 1680px 1957px #000, 475px 1503px #000,
    1557px 917px #000, 1458px 1762px #000, 612px 1707px #000, 1329px 393px #000,
    160px 1167px #000, 1631px 1887px #000, 1125px 141px #000, 257px 376px #000,
    809px 26px #000, 1349px 199px #000, 1805px 88px #000, 69px 1953px #000,
    1206px 529px #000, 646px 227px #000, 1097px 1664px #000, 42px 1261px #000,
    1604px 360px #000, 1939px 187px #000, 1220px 1264px #000, 1044px 995px #000,
    1005px 16px #000, 1648px 1612px #000, 847px 1014px #000, 339px 1584px #000,
    1329px 1304px #000, 961px 1970px #000, 711px 221px #000, 888px 566px #000,
    53px 704px #000, 1369px 846px #000, 1261px 1775px #000, 737px 1277px #000,
    1071px 1570px #000, 77px 1872px #000, 1268px 1501px #000, 598px 1640px #000,
    1769px 297px #000, 1074px 656px #000, 1006px 1154px #000, 672px 1969px #000,
    922px 243px #000, 622px 773px #000, 1875px 804px #000, 1873px 600px #000,
    1844px 1794px #000, 1253px 1995px #000, 616px 1198px #000,
    1829px 1743px #000, 1321px 504px #000, 1340px 566px #000, 1520px 1825px #000,
    1696px 1333px #000, 537px 158px #000, 1106px 162px #000, 25px 514px #000,
    1022px 422px #000, 1955px 391px #000, 1126px 1741px #000, 754px 905px #000,
    1217px 1696px #000, 351px 270px #000, 950px 1260px #000, 1847px 658px #000,
    23px 684px #000, 1295px 572px #000, 257px 1053px #000, 87px 303px #000,
    798px 1748px #000, 1150px 142px #000, 48px 1641px #000, 1492px 1328px #000,
    1385px 1766px #000, 296px 1726px #000, 1299px 1780px #000, 1316px 522px #000,
    1953px 1526px #000, 1007px 1089px #000, 1824px 1598px #000,
    1720px 480px #000, 555px 1942px #000, 367px 432px #000, 957px 1162px #000,
    384px 1044px #000, 738px 618px #000, 1568px 1432px #000, 211px 788px #000,
    198px 1761px #000, 745px 177px #000, 1700px 159px #000, 316px 498px #000,
    65px 1610px #000, 1948px 1638px #000, 936px 1461px #000, 1656px 622px #000,
    575px 1437px #000, 336px 1424px #000, 1215px 690px #000, 1641px 1542px #000,
    998px 1685px #000, 952px 1274px #000, 1448px 1165px #000, 904px 1783px #000,
    1788px 1404px #000, 1748px 1717px #000, 793px 922px #000, 1032px 355px #000,
    1158px 38px #000, 1573px 1855px #000, 751px 1199px #000, 1284px 227px #000,
    391px 416px #000, 55px 204px #000, 962px 1918px #000, 668px 1347px #000,
    613px 1215px #000, 615px 732px #000, 1442px 1752px #000, 1086px 1779px #000,
    532px 320px #000, 1228px 1321px #000, 1796px 1906px #000, 150px 715px #000,
    1694px 1005px #000, 1509px 391px #000, 262px 303px #000, 1743px 909px #000,
    1966px 1203px #000, 707px 1033px #000, 82px 1332px #000, 104px 794px #000,
    246px 759px #000, 507px 1380px #000, 1227px 616px #000, 917px 1354px #000,
    1941px 759px #000, 451px 852px #000, 17px 131px #000, 780px 476px #000,
    816px 211px #000, 1039px 1245px #000, 1521px 1036px #000, 1509px 1542px #000,
    1368px 960px #000, 1104px 1437px #000, 1171px 976px #000, 681px 1305px #000,
    1741px 579px #000, 953px 704px #000, 1810px 328px #000, 1960px 1396px #000,
    1098px 295px #000, 1409px 919px #000, 1830px 1176px #000, 492px 1063px #000,
    1277px 515px #000, 602px 1546px #000, 1832px 236px #000, 1513px 274px #000,
    1983px 794px #000, 2000px 1505px #000, 920px 382px #000, 1374px 1235px #000,
    692px 310px #000, 1028px 1782px #000, 1007px 887px #000, 1492px 858px #000,
    877px 1817px #000, 1024px 1942px #000, 658px 82px #000, 526px 742px #000,
    755px 880px #000, 301px 1186px #000, 318px 31px #000, 1517px 1244px #000,
    1996px 1126px #000, 464px 1861px #000, 334px 674px #000, 768px 1103px #000,
    628px 890px #000, 1054px 1534px #000, 59px 1576px #000, 189px 693px #000,
    16px 1097px #000, 563px 1186px #000, 428px 523px #000, 1047px 1231px #000,
    1940px 1262px #000, 643px 971px #000, 611px 1794px #000, 1676px 21px #000,
    1882px 1523px #000, 258px 1584px #000, 768px 295px #000, 1253px 1431px #000,
    1855px 362px #000, 576px 987px #000, 1904px 470px #000, 895px 1390px #000,
    771px 966px #000, 1034px 1815px #000, 203px 1292px #000, 566px 893px #000,
    63px 913px #000, 1340px 1416px #000, 528px 967px #000, 1965px 444px #000,
    1961px 132px #000, 1049px 577px #000, 459px 1031px #000, 261px 1780px #000,
    1092px 1480px #000, 286px 759px #000, 1014px 1604px #000, 144px 1461px #000,
    1180px 1694px #000, 1348px 613px #000, 518px 1479px #000, 478px 649px #000,
    1303px 629px #000, 1713px 258px #000, 1912px 501px #000, 300px 227px #000,
    989px 1068px #000, 197px 158px #000, 244px 420px #000, 889px 486px #000,
    1517px 1812px #000, 965px 308px #000, 409px 1293px #000, 47px 1400px #000,
    1473px 1150px #000, 311px 1711px #000, 1938px 1000px #000, 717px 1331px #000,
    282px 881px #000, 1305px 382px #000, 1639px 52px #000, 1466px 1228px #000,
    574px 26px #000, 1310px 899px #000, 15px 1795px #000, 1138px 941px #000,
    1235px 1416px #000, 27px 375px #000, 1333px 1470px #000, 1462px 1837px #000,
    1830px 1217px #000, 1521px 1848px #000, 730px 515px #000, 514px 1869px #000,
    468px 1906px #000, 1931px 259px #000, 1612px 151px #000, 1495px 735px #000,
    710px 1096px #000, 1976px 546px #000, 50px 741px #000, 1313px 381px #000,
    54px 102px #000, 1873px 1009px #000, 1696px 688px #000, 626px 922px #000,
    244px 1438px #000, 1746px 1787px #000, 1824px 1437px #000,
    1730px 1219px #000, 785px 198px #000, 1174px 931px #000, 909px 517px #000,
    1283px 662px #000, 1074px 194px #000, 847px 1945px #000, 113px 427px #000,
    728px 352px #000, 1205px 1316px #000, 786px 668px #000, 64px 427px #000,
    548px 1370px #000, 1102px 616px #000, 676px 1192px #000, 1652px 1264px #000,
    649px 69px #000, 1593px 645px #000, 1651px 816px #000, 1914px 977px #000,
    80px 1006px #000, 1252px 742px #000, 1291px 981px #000, 1325px 273px #000,
    831px 1581px #000, 344px 1503px #000, 1885px 1849px #000, 745px 1030px #000,
    764px 1396px #000, 1241px 829px #000, 1281px 160px #000, 1210px 1860px #000,
    1998px 411px #000, 1752px 1816px #000, 21px 1656px #000, 1863px 1988px #000,
    1860px 331px #000, 79px 512px #000;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1124px 1500px #000, 916px 1039px #000, 1281px 2000px #000,
    1702px 518px #000, 246px 953px #000, 1889px 287px #000, 1438px 1139px #000,
    1824px 1739px #000, 1090px 1205px #000, 1514px 392px #000, 87px 1797px #000,
    342px 25px #000, 134px 1624px #000, 1246px 426px #000, 453px 559px #000,
    609px 308px #000, 506px 972px #000, 684px 733px #000, 85px 1641px #000,
    1576px 320px #000, 145px 809px #000, 1822px 1000px #000, 21px 1512px #000,
    173px 1775px #000, 1283px 1564px #000, 224px 1353px #000, 451px 785px #000,
    703px 1983px #000, 508px 1345px #000, 957px 1209px #000, 698px 162px #000,
    159px 1835px #000, 712px 227px #000, 1234px 295px #000, 310px 958px #000,
    889px 31px #000, 1321px 1156px #000, 501px 274px #000, 914px 96px #000,
    1637px 1954px #000, 774px 1326px #000, 304px 550px #000, 1249px 425px #000,
    649px 1851px #000, 723px 1114px #000, 1115px 1524px #000, 1937px 1932px #000,
    44px 1353px #000, 850px 1872px #000, 1175px 1628px #000, 318px 248px #000,
    291px 521px #000, 1246px 1707px #000, 1640px 1608px #000, 1961px 343px #000,
    964px 1144px #000, 1729px 361px #000, 1493px 799px #000, 1503px 1030px #000,
    426px 1162px #000, 991px 1700px #000, 697px 630px #000, 897px 1692px #000,
    457px 1816px #000, 667px 729px #000, 1753px 1618px #000, 1132px 1095px #000,
    954px 1846px #000, 1938px 1179px #000, 135px 434px #000, 1134px 1216px #000,
    491px 543px #000, 525px 1114px #000, 1769px 1830px #000, 1641px 1422px #000,
    873px 548px #000, 1519px 1249px #000, 934px 1084px #000, 753px 1528px #000,
    1139px 478px #000, 1533px 356px #000, 264px 1956px #000, 899px 487px #000,
    1932px 1084px #000, 1846px 64px #000, 46px 1255px #000, 102px 1775px #000,
    678px 1579px #000, 1406px 368px #000, 1808px 32px #000, 741px 775px #000,
    225px 1338px #000, 124px 731px #000, 411px 135px #000, 1640px 1276px #000,
    54px 1998px #000, 1126px 1912px #000, 1896px 1754px #000, 819px 827px #000,
    1063px 125px #000, 955px 1357px #000, 945px 1808px #000, 777px 1591px #000,
    508px 1351px #000, 966px 983px #000, 168px 9px #000, 1700px 533px #000,
    785px 1700px #000, 558px 749px #000, 56px 1463px #000, 1482px 371px #000,
    1201px 1930px #000, 207px 240px #000, 538px 146px #000, 893px 1156px #000,
    662px 973px #000, 1126px 641px #000, 354px 1792px #000, 1483px 1367px #000,
    1032px 1516px #000, 322px 1338px #000, 1804px 1170px #000, 1899px 561px #000,
    698px 1947px #000, 1377px 1501px #000, 1966px 1196px #000, 108px 1889px #000,
    790px 1309px #000, 1206px 42px #000, 1903px 373px #000, 465px 113px #000,
    1776px 1878px #000, 1363px 639px #000, 1142px 1969px #000, 1427px 840px #000,
    212px 1412px #000, 1333px 1905px #000, 817px 261px #000, 1590px 1046px #000,
    1139px 89px #000, 1852px 311px #000, 1618px 1155px #000, 387px 1975px #000,
    290px 1660px #000, 1094px 957px #000, 1145px 1157px #000, 825px 1179px #000,
    1456px 1133px #000, 1214px 922px #000, 290px 1880px #000, 852px 1027px #000,
    275px 557px #000, 1115px 724px #000, 1713px 1698px #000, 1819px 1196px #000,
    1778px 179px #000, 401px 610px #000, 1288px 1286px #000, 1603px 493px #000,
    497px 306px #000, 457px 1005px #000, 675px 1814px #000, 850px 1719px #000,
    467px 932px #000, 1312px 1366px #000, 812px 1643px #000, 356px 1170px #000,
    1915px 787px #000, 1923px 1453px #000, 542px 860px #000, 1496px 832px #000,
    1689px 90px #000, 1404px 73px #000, 991px 357px #000, 1534px 1469px #000,
    1036px 822px #000, 595px 819px #000, 432px 1908px #000, 221px 1519px #000,
    1744px 1507px #000, 505px 564px #000, 1220px 1959px #000, 544px 1880px #000,
    744px 516px #000, 547px 307px #000, 1862px 247px #000, 1560px 410px #000,
    736px 282px #000, 986px 1452px #000, 808px 1942px #000, 194px 1307px #000,
    639px 842px #000, 717px 272px #000, 580px 103px #000, 566px 1916px #000,
    1847px 91px #000, 1583px 629px #000, 1270px 1517px #000, 1452px 1905px #000,
    1161px 1965px #000;
  animation: animStar 100s linear infinite;
}

.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1124px 1500px #000, 916px 1039px #000, 1281px 2000px #000,
    1702px 518px #000, 246px 953px #000, 1889px 287px #000, 1438px 1139px #000,
    1824px 1739px #000, 1090px 1205px #000, 1514px 392px #000, 87px 1797px #000,
    342px 25px #000, 134px 1624px #000, 1246px 426px #000, 453px 559px #000,
    609px 308px #000, 506px 972px #000, 684px 733px #000, 85px 1641px #000,
    1576px 320px #000, 145px 809px #000, 1822px 1000px #000, 21px 1512px #000,
    173px 1775px #000, 1283px 1564px #000, 224px 1353px #000, 451px 785px #000,
    703px 1983px #000, 508px 1345px #000, 957px 1209px #000, 698px 162px #000,
    159px 1835px #000, 712px 227px #000, 1234px 295px #000, 310px 958px #000,
    889px 31px #000, 1321px 1156px #000, 501px 274px #000, 914px 96px #000,
    1637px 1954px #000, 774px 1326px #000, 304px 550px #000, 1249px 425px #000,
    649px 1851px #000, 723px 1114px #000, 1115px 1524px #000, 1937px 1932px #000,
    44px 1353px #000, 850px 1872px #000, 1175px 1628px #000, 318px 248px #000,
    291px 521px #000, 1246px 1707px #000, 1640px 1608px #000, 1961px 343px #000,
    964px 1144px #000, 1729px 361px #000, 1493px 799px #000, 1503px 1030px #000,
    426px 1162px #000, 991px 1700px #000, 697px 630px #000, 897px 1692px #000,
    457px 1816px #000, 667px 729px #000, 1753px 1618px #000, 1132px 1095px #000,
    954px 1846px #000, 1938px 1179px #000, 135px 434px #000, 1134px 1216px #000,
    491px 543px #000, 525px 1114px #000, 1769px 1830px #000, 1641px 1422px #000,
    873px 548px #000, 1519px 1249px #000, 934px 1084px #000, 753px 1528px #000,
    1139px 478px #000, 1533px 356px #000, 264px 1956px #000, 899px 487px #000,
    1932px 1084px #000, 1846px 64px #000, 46px 1255px #000, 102px 1775px #000,
    678px 1579px #000, 1406px 368px #000, 1808px 32px #000, 741px 775px #000,
    225px 1338px #000, 124px 731px #000, 411px 135px #000, 1640px 1276px #000,
    54px 1998px #000, 1126px 1912px #000, 1896px 1754px #000, 819px 827px #000,
    1063px 125px #000, 955px 1357px #000, 945px 1808px #000, 777px 1591px #000,
    508px 1351px #000, 966px 983px #000, 168px 9px #000, 1700px 533px #000,
    785px 1700px #000, 558px 749px #000, 56px 1463px #000, 1482px 371px #000,
    1201px 1930px #000, 207px 240px #000, 538px 146px #000, 893px 1156px #000,
    662px 973px #000, 1126px 641px #000, 354px 1792px #000, 1483px 1367px #000,
    1032px 1516px #000, 322px 1338px #000, 1804px 1170px #000, 1899px 561px #000,
    698px 1947px #000, 1377px 1501px #000, 1966px 1196px #000, 108px 1889px #000,
    790px 1309px #000, 1206px 42px #000, 1903px 373px #000, 465px 113px #000,
    1776px 1878px #000, 1363px 639px #000, 1142px 1969px #000, 1427px 840px #000,
    212px 1412px #000, 1333px 1905px #000, 817px 261px #000, 1590px 1046px #000,
    1139px 89px #000, 1852px 311px #000, 1618px 1155px #000, 387px 1975px #000,
    290px 1660px #000, 1094px 957px #000, 1145px 1157px #000, 825px 1179px #000,
    1456px 1133px #000, 1214px 922px #000, 290px 1880px #000, 852px 1027px #000,
    275px 557px #000, 1115px 724px #000, 1713px 1698px #000, 1819px 1196px #000,
    1778px 179px #000, 401px 610px #000, 1288px 1286px #000, 1603px 493px #000,
    497px 306px #000, 457px 1005px #000, 675px 1814px #000, 850px 1719px #000,
    467px 932px #000, 1312px 1366px #000, 812px 1643px #000, 356px 1170px #000,
    1915px 787px #000, 1923px 1453px #000, 542px 860px #000, 1496px 832px #000,
    1689px 90px #000, 1404px 73px #000, 991px 357px #000, 1534px 1469px #000,
    1036px 822px #000, 595px 819px #000, 432px 1908px #000, 221px 1519px #000,
    1744px 1507px #000, 505px 564px #000, 1220px 1959px #000, 544px 1880px #000,
    744px 516px #000, 547px 307px #000, 1862px 247px #000, 1560px 410px #000,
    736px 282px #000, 986px 1452px #000, 808px 1942px #000, 194px 1307px #000,
    639px 842px #000, 717px 272px #000, 580px 103px #000, 566px 1916px #000,
    1847px 91px #000, 1583px 629px #000, 1270px 1517px #000, 1452px 1905px #000,
    1161px 1965px #000;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1106px 1979px #000, 1572px 505px #000, 25px 1324px #000,
    650px 558px #000, 558px 1555px #000, 782px 1910px #000, 95px 1646px #000,
    1794px 169px #000, 1104px 1373px #000, 965px 1386px #000, 1818px 948px #000,
    1848px 760px #000, 1789px 937px #000, 761px 1565px #000, 945px 1788px #000,
    1553px 93px #000, 1344px 281px #000, 832px 138px #000, 819px 412px #000,
    386px 1164px #000, 36px 1157px #000, 1150px 651px #000, 63px 1824px #000,
    338px 202px #000, 1203px 764px #000, 1825px 1211px #000, 204px 1892px #000,
    228px 313px #000, 1511px 783px #000, 497px 522px #000, 744px 96px #000,
    511px 1254px #000, 179px 1572px #000, 988px 411px #000, 1539px 1119px #000,
    687px 1122px #000, 1615px 475px #000, 512px 399px #000, 816px 1040px #000,
    341px 103px #000, 450px 505px #000, 1161px 742px #000, 1926px 1476px #000,
    764px 1893px #000, 995px 1047px #000, 572px 593px #000, 143px 499px #000,
    963px 861px #000, 575px 178px #000, 1492px 424px #000, 1890px 1467px #000,
    612px 1453px #000, 573px 346px #000, 1151px 945px #000, 107px 45px #000,
    345px 593px #000, 1659px 456px #000, 1984px 1612px #000, 1103px 350px #000,
    696px 908px #000, 1227px 1093px #000, 1525px 1198px #000, 294px 648px #000,
    955px 378px #000, 1553px 114px #000, 1355px 1009px #000, 911px 1568px #000,
    1807px 27px #000, 933px 1952px #000, 493px 1501px #000, 1573px 1849px #000,
    962px 471px #000, 1078px 1745px #000, 711px 381px #000, 1617px 574px #000,
    666px 1277px #000, 1589px 1435px #000, 41px 21px #000, 1427px 252px #000,
    748px 351px #000, 1826px 261px #000, 730px 1705px #000, 30px 459px #000,
    953px 1573px #000, 725px 1653px #000, 1628px 1144px #000, 1070px 1879px #000,
    362px 603px #000, 605px 714px #000, 749px 1979px #000, 1569px 1753px #000,
    335px 491px #000, 1618px 1237px #000, 362px 1735px #000, 105px 489px #000,
    806px 836px #000, 1523px 781px #000, 411px 1405px #000, 858px 220px #000,
    273px 89px #000;
  animation: animStar 150s linear infinite;
}

.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1106px 1979px #000, 1572px 505px #000, 25px 1324px #000,
    650px 558px #000, 558px 1555px #000, 782px 1910px #000, 95px 1646px #000,
    1794px 169px #000, 1104px 1373px #000, 965px 1386px #000, 1818px 948px #000,
    1848px 760px #000, 1789px 937px #000, 761px 1565px #000, 945px 1788px #000,
    1553px 93px #000, 1344px 281px #000, 832px 138px #000, 819px 412px #000,
    386px 1164px #000, 36px 1157px #000, 1150px 651px #000, 63px 1824px #000,
    338px 202px #000, 1203px 764px #000, 1825px 1211px #000, 204px 1892px #000,
    228px 313px #000, 1511px 783px #000, 497px 522px #000, 744px 96px #000,
    511px 1254px #000, 179px 1572px #000, 988px 411px #000, 1539px 1119px #000,
    687px 1122px #000, 1615px 475px #000, 512px 399px #000, 816px 1040px #000,
    341px 103px #000, 450px 505px #000, 1161px 742px #000, 1926px 1476px #000,
    764px 1893px #000, 995px 1047px #000, 572px 593px #000, 143px 499px #000,
    963px 861px #000, 575px 178px #000, 1492px 424px #000, 1890px 1467px #000,
    612px 1453px #000, 573px 346px #000, 1151px 945px #000, 107px 45px #000,
    345px 593px #000, 1659px 456px #000, 1984px 1612px #000, 1103px 350px #000,
    696px 908px #000, 1227px 1093px #000, 1525px 1198px #000, 294px 648px #000,
    955px 378px #000, 1553px 114px #000, 1355px 1009px #000, 911px 1568px #000,
    1807px 27px #000, 933px 1952px #000, 493px 1501px #000, 1573px 1849px #000,
    962px 471px #000, 1078px 1745px #000, 711px 381px #000, 1617px 574px #000,
    666px 1277px #000, 1589px 1435px #000, 41px 21px #000, 1427px 252px #000,
    748px 351px #000, 1826px 261px #000, 730px 1705px #000, 30px 459px #000,
    953px 1573px #000, 725px 1653px #000, 1628px 1144px #000, 1070px 1879px #000,
    362px 603px #000, 605px 714px #000, 749px 1979px #000, 1569px 1753px #000,
    335px 491px #000, 1618px 1237px #000, 362px 1735px #000, 105px 489px #000,
    806px 836px #000, 1523px 781px #000, 411px 1405px #000, 858px 220px #000,
    273px 89px #000;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
